.body{
    background-color: black;
}
#nums{
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius:50px;
    border: none;
    width: 60px;
    height: 60px;
    margin: 2px 2px 3px 3px;
    font-size: 25px;
    font-family: arial;
    cursor: pointer;
}
#symb{
    background-color:darkorange;
    color: white;
    border-radius:50px;
    border: none;
    width: 60px;
    height: 60px;
    margin: 2px 2px 3px 3px;
    font-size: 25px;
    font-family: arial;
    cursor: pointer;

}
.clear{
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius:50px;
    border: none;
    width: 60px;
    height: 60px;
    margin: 2px 2px 3px 3px;
    font-size: 20px;
    font-family: arial;
    cursor: pointer;
    font-weight: lighter;
}
.para{
    color: white;
    font-size: 40px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    }